<div class="modal-header">
  <h4 class="modal-title pull-left">Confirm</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
  <div class="m-2 modal-body">
    <p>Are you sure you want to continue? Any unsaved changes will be lost</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="bsModalRef.hide()">No</button>
    <button type="button" class="btn btn-danger" (click)="abortEdit()">Yes</button>
  </div>
